> SHOW
{{!--{{outlet}}--}}


<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-50">
    {{#paper-card as |card|}}
      {{card.image src="washedout-70b84b894d88b367d49d56a8cd808cca.png"
                   alt="Washed Out"
                   title="Washed Out"}}

      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}In-card mixed actions{{/text.headline}}
        {{/title.text}}
      {{/card.title}}

      {{#card.actions class="layout-row layout-align-start-center" as |actions|}}
        {{#actions.icons}}
          {{#paper-button iconButton=true}}{{paper-icon 'favorite'}}{{/paper-button}}
          {{#paper-button iconButton=true}}{{paper-icon 'share'}}{{/paper-button}}
        {{/actions.icons}}
        {{#paper-button}}Action 1{{/paper-button}}
        {{#paper-button}}Action 2{{/paper-button}}
      {{/card.actions}}

      {{#card.content}}
        <p>
          Record a moment in time.
        </p>
      {{/card.content}}
    {{/paper-card}}
  </div>
</div>